{%extends 'template.html' %}
{%block title%}Add Type{%endblock%}
{%block user%}{{User.User}}{%endblock%}

{%block contain%}
<h1 class="display-6 mb-3">新增物品類型</h1>
<p class="text-muted">管理可選的物品分類，方便新增與搜尋。</p>
{%endblock%}

{%block body%}
<form class="row g-3" action="{{ url_for('types.addtype') }}" method="post">
    <div class="col-md-12 ">
        <table class="table table-striped  border border-dark" >
            <thead>
                <tr>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody style="overflow-y: auto;height: 200px;display: block;">
                {%for type in itemtype%}
                <tr style="width: 100%;display: inline-table;">
                    <td>{{type.name}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <label for="Type" class="form-label">Type</label>
        <input type="text" class="form-control" id="Type" name="name" required>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">新增類型</button>
    </div>
</form>
{%endblock%}